<header class="header">
  <div class="header__container">
    <a href="#home" class="header__title-link">
      <h3 class="header__title"><span>RD. </span> Gabriel</h3>
    </a>

    <!-- <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#about"><span>Sobre mí</span></a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#projects"><span>Proyectos</span></a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#contact"><span>Contacto</span></a>
        </li>
      </ul>
    </nav> -->
    <div class="container-icons">
      <a
        class="container-icons__link"
        href="https://www.linkedin.com/in/juan-gabriel-rios-damico/"
        target="_blank"
        ><img
          src="../../../../assets/icons/linkedin-in-white.svg"
          alt="Icono Linkedin"
          class="container-icons__icon"
      /></a>
      <a
        class="container-icons__link"
        href="https://github.com/gabrielrios27"
        target="_blank"
        ><img
          src="../../../../assets/icons/github-white.svg"
          alt="Icono GitHub"
          class="container-icons__icon"
      /></a>
    </div>
  </div>
</header>
