<section class="home" id="home">
  <div class="home__bg">
    <div class="home__bg-white"></div>
    <div class="home__bg-img"></div>
  </div>
  <div class="cover">
    <div class="cover__img-container">
      <img
        class="cover__img"
        src="../../../../assets/images/foto de perfil.jpg"
        alt="Foto de Gabriel Rios desarrollador Front End"
      />
    </div>
    <div class="sayHi">
      <h1 class="sayHi__title"><span>Hola! </span>Soy Gabriel Rios</h1>

      <p class="sayHi__description">Desarrollador Front-end.</p>
    </div>
    <div class="cover__container-btns">
      <button class="cover__btn" (click)="onGoToAbout()">Sobre mí</button>
      <button class="cover__btn" (click)="onGoToProjects()">Proyectos</button>
    </div>
    <div class="chip">
      <p class="chip__text">Front end</p>
    </div>
  </div>
</section>
